@font-face {
    font-family: 'PoppinsExtraBold';
    src: url('../assets/Poppins/Poppins-ExtraBold.ttf');
}

@font-face {
    font-family: 'PoppinsRegular';
    src: url('../assets/Poppins/Poppins-Regular.ttf');
}

.logoLien {
    text-align: center;
    padding: 15pt;
    margin: 15pt;
}

.imgGmail {
    width: 100px;
    height: 100px;
    padding: 10pt;
}

.sectionGrid {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.logoGrid {
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 1224px) {
    .contactGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    #txtTitle {
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .contactGrid {
        display: grid;

        grid-template-columns: repeat(1, 1fr);
    }

    .logoGrid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .logoLien img {
        text-align: center;

    }
}